.banner {
    background-image: linear-gradient(-160deg, rgba(300, 40, 0, 0.4), rgba(0, 161, 27, 0.4)), url("../../images/Mr-Robot-profile.jpeg");
    color: white;
    padding: 10px 0px;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font-size: 60px;
}

.banner h2 {
    font-size: 40px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px;
}